* {
   margin: 0;
   box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


:root {
   --text-color: #667085;
   --main-color: #8E2424;
}

.mainMenu {
   font-family: 'Inter', sans-serif;
   padding: 28px;
   color: #667085;
   align-items: center;
}

.navBar {
   display: flex;
   align-items: center;
   justify-content: space-around;

}

.logo {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 112px, 26.5px;

}

.navBar ul {

   display: flex;
   list-style: none;
   gap: 32px;
   align-items: center;
}

.buttons {
   display: flex;
   gap: 20px;
   font-family: 'Inter', sans-serif;
   align-self: flex-end;
}

#signIn {
   color: rgb(66, 70, 85);
   background: none;
   border: none;
   font-size: 16px;
}

#signUp {
   background-color: #8E2424;
   border-radius: 8px;
   box-shadow: 0px 1px 2px;
   border: none;
   color: white;
   padding: 10px 18px;
}

.aboutUs {
   display: flex;
   padding: 96px 0px;
   flex-direction: column;
   gap: 24px;
   align-items: center;
   font-family: "Inter", sans-serif;
}

.aboutUs span {
   color: #8E2424;
   font-size: 16px;
   line-height: 24px;

}

.aboutUs h1 {
   font-family: "Inter", sans-serif;
   color: rgb(10, 18, 28);
   font-size: 48px;
   line-height: 60px;

}

.aboutUs p {
   display: flex;
   flex-wrap: wrap;
   width: 791px;
   font-size: 20px;
   text-align: center;
   line-height: 30px;
   color: #667085;
}

.metrics {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 64px;
   margin-left: 122px;
   margin-right: 122px;
}

.metrics h1 {
   color: #8E2424;
   font-family: sans-serif;
   font-size: 60px;
   line-height: 72px;
}

.metrics span {
   font-family: sans-serif;
   font-size: 18px;
   color: #101828;
   line-height: 28px;
}

.metrics p {
   font-family: sans-serif;
   font-size: 16px;
   color: #667085;
   line-height: 24px;
   margin: 0;
   padding: 0;
}

.talents {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 196px 0;
   gap: 20px;
}

.talents span {
   font-family: "Inter", sans-serif;
   font-size: 14px;
   line-height: 24px;
   color: var(--main-color);
   background-color: rgba(142, 36, 36, 0.05);
   border-radius: 16px;
   padding: 4px 12px 4px 12px;
   font-weight: 500;
}

.talents h2 {
   font-family: "Inter", sans-serif;
   font-size: 36px;
   line-height: 44px;
   font-weight: 600;
   color: #101828;
}

.talents p {
   font-family: "Inter", sans-serif;
   font-size: 20px;
   line-height: 30px;
   color: #667085;
}

.talents img {
   padding-top: 64px;
   width: 80%;
}


.jobSection {
   margin-left: 336px;
   margin-right: 336px;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 32px;
   color: #101828;
   margin-top: 64px;

}

.jobName {
   margin-left: 336px;
   margin-right: 336px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border: solid 1px #EAECF0;
   border-radius: 16px;
   padding: 24px 24px 28px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 28px;
   color: #101828;
   margin-top: 32px;
}


.jobType {
   display: flex;
   flex-direction: row;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   gap: 24px;
   color: #667085;
   margin-top: 32px;


}

.preFooter {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 96px 112px;
   background-color: rgba(196, 25, 25, 0.03);
   gap: 32px;
   padding: 64px;

}

.preFooter p {
   color: #8E2424;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 20px;
}

.preFooter h2 {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 44px;
   color: #101828;
   text-align: center;
   margin: 0px 64px;
}

.colabInfos span {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.colabInfos span:first-of-type {
   color: #101828;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}

.colabInfos span:last-child {
   color: #667085;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
}

.footer {
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 32px;
   background-color: #F9FAFB;
   padding: 96px 0;
   align-items: center;
}

.footer h1 {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 44px;
   color: #101828;
}

.footer h3 {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #667085;
}

.inputEmail {
   display: flex;
   gap: 16px;
}

.inputEmail input {
   border: solid 1px #D0D5DD;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 8px;
   padding: 12px 14px 12px 16px;
   width: 360px;
   height: 48px;
}

.inputEmail button {
   background-color: #8E2424;
   border-radius: 8px;
   box-shadow: 0px 1px 2px;
   border: none;
   color: white;
   padding: 10px 18px;
}

.footer p {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #98A2B3;
}